<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- <title>Welcome {{.Name}}</title> -->
    <title>hello</title>
    <link rel="stylesheet" href="/static/stylesheets/welcome-template.css">
</head>

<body>
    <!-- <div class="welcome center">Welcome {{.Name}}, it is {{.Time}}</div> -->
</body>

</html>